In [14]:
import pandas as pd
import numpy as np
print('Setup complete!')

Setup complete!

In [3]:
data = pd.read_csv('data/online_learning_course_consumption_dataset.csv')
data.head()

,User_ID,Experience_Level,Course_Type,Platform,Hours_Spent_Per_Week,Course_Duration_Weeks,Completion_Status,Completion_Percentage,Dropout_Reason,Satisfaction_Score
0,U0001,Fresher,Tech,Skillshare,16,8,Completed,67,No Dropout,2
1,U0002,Fresher,Non-Tech,edX,17,22,Dropped,38,Time Constraint,3
2,U0003,Fresher,Non-Tech,Coursera,19,21,In Progress,43,No Dropout,1
3,U0004,Student,Non-Tech,Udemy,14,2,Dropped,14,Time Constraint,1
4,U0005,Student,Non-Tech,Skillshare,8,10,Dropped,8,Too Difficult,4

Подготовка данных

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   User_ID                500 non-null    object
 1   Experience_Level       500 non-null    object
 2   Course_Type            500 non-null    object
 3   Platform               500 non-null    object
 4   Hours_Spent_Per_Week   500 non-null    int64
 5   Course_Duration_Weeks  500 non-null    int64
 6   Completion_Status      500 non-null    object
 7   Completion_Percentage  500 non-null    int64
 8   Dropout_Reason         500 non-null    object
 9   Satisfaction_Score     500 non-null    int64
dtypes: int64(4), object(6)
memory usage: 39.2+ KB

In [8]:
data.apply(lambda x: x.unique())

User_ID                  [U0001, U0002, U0003, U0004, U0005, U0006, U00...
Experience_Level                  [Fresher, Student, Working Professional]
Course_Type                                               [Tech, Non-Tech]
Platform                       [Skillshare, edX, Coursera, Udemy, YouTube]
Hours_Spent_Per_Week     [16, 17, 19, 14, 8, 11, 12, 1, 5, 13, 6, 2, 20...
Course_Duration_Weeks    [8, 22, 21, 2, 10, 11, 19, 17, 14, 15, 20, 3, ...
Completion_Status                        [Completed, Dropped, In Progress]
Completion_Percentage    [67, 38, 43, 14, 8, 53, 34, 37, 51, 98, 71, 27...
Dropout_Reason           [No Dropout, Time Constraint, Too Difficult, L...
Satisfaction_Score                                         [2, 3, 1, 4, 5]
dtype: object

In [9]:
data.Dropout_Reason.unique()

array(['No Dropout', 'Time Constraint', 'Too Difficult', 'Lost Interest'],
      dtype=object)

In [15]:
data.isnull().sum().sum().item()

0

In [19]:
data.duplicated().sum().item()

0

EDA

In [20]:
data.describe()

,Hours_Spent_Per_Week,Course_Duration_Weeks,Completion_Percentage,Satisfaction_Score
count,500.000000,500.000000,500.000000,500.000000
mean,10.560000,13.256000,50.480000,3.022000
std,5.520085,6.506853,26.973259,1.434445
min,1.000000,2.000000,5.000000,1.000000
25%,6.000000,8.000000,30.750000,2.000000
50%,11.000000,13.500000,46.000000,3.000000
75%,15.000000,19.000000,73.000000,4.000000
max,20.000000,24.000000,100.000000,5.000000